.text-primary, .text-secondary, .text-success, .text-danger, .text-warning {
    font-family: 'Roboto', sans-serif;
  }
  .fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  #form {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }
  
  #loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .btn-no-glow:active,
  .btn-no-glow:focus,
  .btn-no-glow:hover {
    box-shadow: none;
    outline: none;
  }
  
  body {
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 23px;
  }

  .logo:hover {
    filter: brightness(120%);
 }

 footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  font-size: 10px;
  padding: 0px 0;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
